@use "./modules/vars";

#container {
  color: vars.$text;
  border: #{random()}rem solid black;
  margin: 0 auto;
  width: 50%;

  #list {
    color: vars.$ul;
    border: darken(vars.$ul, 50%);

    ul > li {
      color: vars.$li;
      list-style-type: decimal;
    }
  }
}